{% extends 'base.html.twig' %}
{% block header %}{%endblock%}
{% block body %}
<body>
    <div class="reg-main">
        <div >
    <h2>Registration</h2>
    
<form method="POST" action="{{ url('regist') }}" id="sign-up" enctype="multipart/form-data">
    	<div class="col-xs-6 col-sm-6 col-md-6">
    <div class="form-group">
        <label>User Name</label>
        <input placeholder="User Name" type="text" maxlength="20" size="10" name="username">
    </div>
            </div>
<div class="form-group">
    <label>User Name</label>
<input placeholder="Enter email" type="text" maxlength="40" size="10" name="email">
</div>
    <div class="form-group">
    <label>User Name</label>
<input placeholder="Name" type="text" maxlength="20" size="10" name="nume">
    </div>
<div class="form-group">
<label>User Name</label>
<input placeholder="Subname"type="text" maxlength="20" size="10" name="prenume">
</div>
<div class="form-group">
<label>User Name</label>
<input placeholder="Password" type="password" maxlength="32" size="10" name="pass">
</div>
<div class="form-group">
<label>User Name</label>
<input placeholder="Confirm Password" type="password" maxlength="32" size="10" name="confirmpass">
</div>
        <div class="form-group">
            <div class="maxl">
  <label class="radio inline"> 
      <input type="radio" name="sex" value="male" checked>
      <span> Male </span> 
   </label>
  <label class="radio inline"> 
      <input type="radio" name="sex" value="female">
      <span>Female </span> 
  </label>
</div>
        </div>  
<div class="form-group">

<select id="year" name="an">
  <script>
  var myDate = new Date();
  var year = myDate.getFullYear();
  for(var i = year; i > 1900; i--){
	  document.write('<option value="'+i+'">'+i+'</option>');
  }
    </script>
    </select>
  
        <select id='gMonth1' name="luna">
    <option value=''>--Select Month--</option>
    <option selected value='1'>Janaury</option>
    <option value='2'>February</option>
    <option value='3'>March</option>
    <option value='4'>April</option>
    <option value='5'>May</option>
    <option value='6'>June</option>
    <option value='7'>July</option>
    <option value='8'>August</option>
    <option value='9'>September</option>
    <option value='10'>October</option>
    <option value='11'>November</option>
    <option value='12'>December</option>
    </select>
 <select id="day" name="zi">
  <script>
 
  for(var j = 1; j <= 31; j++){
	  document.write('<option value="'+j+'">'+j+'</option>');
  }
    </script>
    </select>
</div>

<input type="submit" value="Sign UP" name="submit">

</form>
</div>
{% for flashMessage in app.session.flashbag.get('notice') %}

      <p style="color:red;">{{ flashMessage }}<p>

{% endfor %}
</body>
{% endblock %}