{% extends 'base.html.twig' %}

{% block body %}
    <div class="header"> 
     <ul>
        <li ><a href="#">Profil</a></li>
        <li ><a class="active" href="#">Photos</a></li>
        <li ><a href="#">Chat</a>
           <li> <input type="search" id="search"> </li>
        </li>
      </ul>
    </div>
    <div class="article"> 
     
    </div>
    <div class="profil1"></div>
    <div class="news"></div>
    <div class="jos"></div>
    <div class="logo"></div>
    
{% endblock %}
