{% extends 'base.html.twig' %}

{% block body %} 
    <div class="article"> 
        <h1></h1>
           <div class="grid_9">
               <nav class="mid_menu">
                   <ul>
                       <li><a href="#"> Message</a><span class="top_haver"></span></li>
                       <li ><a href="#"> Frends</a><span class="top_haver"></span></li>
                       <li><a href="#"> Grups</a><span class="top_haver"></span></li>
                       <li><a href="exit"> Music</a><span class="top_haver"></span></li> 
                    </ul>
               </nav>         
           </div>
   </div>
        
         </div>
    <div class="profil1"></div>
    <div class="news">
        <h2><a>Online</a></h2>
    </div>
   
    <div class="logo"></div>
    
{% endblock %}
