{% extends 'base.html.twig' %} 

{% block body %}
    
    {%if data.friends is defined%}
        {%for a in data.friends %}
            <a href="{{url('profile', {'id': a.id})}}"><div style="width: 200px; height: 200px;float:left; margin-top:100px; margin-left:10px;background-color: red; ">
                    <h1>{{a.nume}} {{a.prenume}}</h1>
                </div>
            </a>
        {%endfor%}
    {%elseif data.nofriends is defined%}
        <h1 style="margin-top:100px;">Nu sunt Prieteni</h1>
     {%endif%}
{%endblock%}