<html>
    <head>
        <title>Sa creat bazele</title>
    </head>
    <body>
        
        {%if data.utilizatori is defined%}
            <h1>Sa sters toate datele (prietenii , lincurile la imagini)care le-ai avut pana acum</h1>
            <h1>Sa creat baze pentru toti utilizatorii ({{data.utilizatori}})</h1>
        {%endif%}
        
    </body>
</html>