body{
   background: url("../img/fon.jpg") no-repeat center center;
  background-size: cover;
}
/*Article */
.article {
   
        width: 75%;
        height: 500px;
        box-sizing: border-box;
        margin-top: 150px;
        float: left;
        margin-left: 50px;
        padding: 0px;
        overflow:auto;
        background-color: #fff;
        box-shadow: 0px 5px 50px rgba(0,0,0,0.4);
        border-radius: 5px;
}

/*MENU ARticle*/
.mid_menu{
    font-size: 0.8em;
    color: #484848;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: right;
    margin-right: 150px;
}
.mid_menu li{
    
    
    
    display: inline-block;
    text-align: center;
    width: 60px;
    border-bottom: none;
   
    font-size: 0.8em;
}
.mid_menu a{
    text-decoration: none;
    display: block;
    transition: .3s background-color;
    position: relative;
    color: #b5b5b5;
}
.mid_menu a:hover{
 border-bottom: 2px solid #165489;
 
}

/*News*/
.news{
    border-radius: 5px;
     width: 15%;
    height:500px;
    box-sizing: border-box;
    margin-top: 150px;
    float: right;
    margin-right: 50px;
    background-color: #fff;
  box-shadow: 0px 5px 50px rgba(0,0,0,0.4);
  

}
.news h2 {
    
    text-transform:uppercase;
    color: #eae9e9;
    text-align: center;
    font-size: 1.4em;
    
}
.news h2 a:hover {
    border-bottom: 1px solid#45b8ff;
}
/* intro gallary*/
.reg-main{
        max-width: 340px;
        margin: 0 auto;
        position: relative;
        top:80px;
        padding-bottom: 30px;
        box-shadow: 0px 5px 50px rgba(0,0,0,0.4);
        box-sizing: border-box;
        margin-top: 150px;
       background-color: #fafafa;
     
       border-radius: 5px;
       
}
.reg-main input{
margin-bottom: 20px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 2px;
font-size: 0.9em;
color: #888;
width: 180px;
 margin-left: 70px;
 height: 30px;
}

.reg-main h2{
    text-transform: uppercase;
    color: #308A94;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.4em;
    line-height: 2.8em;
    text-align: center;
}
.reg{
        max-width: 340px;
        margin: 0 auto;
        position: relative;
        top:80px;
        padding-bottom: 30px;
        box-shadow: 0px 5px 50px rgba(0,0,0,0.4);
        box-sizing: border-box;
        margin-top: 150px;
       background-color: #fafafa;
       border-radius: 3px;
       text-align: center;
      
        
}

.reg{
    text-align: center;
}
.reg input{
margin-bottom: 20px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 2px;
font-size: 0.9em;
color: #888;
}
.reg h2{
    text-transform: uppercase;
    color: #308A94;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.4em;
    line-height: 2.8em;
}
.reg btl{
    margin-top: 0px;
    border: 0px;
    border-radius: 2px;
    color:#fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 1px;
    background-color: #08C;
    cursor: pointer;
    outline: none;
}
.reg label-{
    font-size: 0.8em;
    color:#888;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2em;
}
.reg h2{
    text-align: center;
    font-family: Courier New, monospace;
}



.intro-gallary{
        width: 100%;
        height: 400px;
        float: left;
        margin-top: 150px;
        background-color: #5eb5e0;
        position: relative;
        padding: 0;
        
        
}

/* menu */
header{
    display: block;
    height: 65px;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #086A87;
}
.logo{
    margin-top: 0px;
    margin-left: 50px;
    display: block;
}

.top_menu ul{
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 45px;
    letter-spacing: 1px;
    
}
.top_menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
 
}
.top_menu ul{
 
  list-style:none;
  text-align: center;
 
}
.top_menu li a:hover{
   background-color: #49a5bf;
 border-bottom: 3px solid #165489;
}
.top_menu li{
    display: inline-block;
    margin-right: -4px;
    width: 100px;
    border-bottom: none;
    height: 65px;
    font-size: 1.1em;
    line-height: 65px;
}
.exit{
    height: 65px;
    float: right;
    border:none;
   letter-spacing: 1px;
   text-transform: uppercase;
   border: none;
    width: 100px;
   background-color: #086A87;
}
.exit a:hover{
    color: red;
}
.exit button:hover{
    border-bottom: 2px solid red;
        
}


 
.pna{
    font-family: 'Raleway',sans-serif;
   align-content: center;
     
}
.top_menu li.active a{
    color: black;
}
/*Serch*/
.byline{
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #ce0000;
}
.searchbox {
    background-color:#fffbf8;
    padding:13px;
    width:250px;
    margin:100px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:6px;
    -webkit-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    -moz-box-shadow: 
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    box-shadow: 
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    float: right;
    margin-top: 0px;
    margin-right: 50px;
}
.searchbox input[type="search"]{
    width:180px;
    height:30px;
    padding-left:15px;
    border-radius:6px;
    border:none;
    color:#939393;
    font-weight:500;
    background-color:#fffbf8;
    -webkit-box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow: 
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}
.searchbox button[type="submit"]{
    width:35px;
    height:30px;
    background-image:url("../img/staff-search.png");
    background-repeat: no-repeat;
    background-position: 10px 5px;
    background-color:transparent;
    -webkit-background-size:20px 20px;
    background-size:20px 20px;
    border:none;
    cursor:pointer;
}
.searchbox input[type="search"]:focus{
    outline:0;
}
hr{
    color: #308A94;
    opacity: 0.3;
    width: 200px;
}
.profil_1{
    
    padding: 5px;
   float: left;
   border: 3px solid #2a95ff;
  transition: .3s border-color;
   
}
.profil_1:hover{
    border-color: black;
     transition: .8s border-color;
}
.profil_name{
 margin-left: 400px;
  margin-top: 25px;
  font-size: 25px;
  letter-spacing: 1px;
   text-transform: capitalize;
}
.Gall_profile{
    border: 3px;
    margin-top: 200px;
     margin-left: 350px;
}
.photo_profil{
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 30px;
        box-shadow: 0px 5px 50px rgba(0,0,0,0.4);
        box-sizing: border-box;
        margin-top: 150px;
        background-color: #fafafa;
        border-radius: 3px;
        text-align: center;  
}
.ph_btn{
    width: 200px;
    height: 50px;
    text-align: center;
    min-width: 300px;
  background-color: green;
 
  text-align: center;
  
  font-size: 1.4em;
  cursor: pointer;
    
}





